body {
    background-color: #e62b60;
    text-align: center;
}

.container {
    width: 100%;
}

.lopxy-splash-screen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}